body{
    font-family: 'inter', sans-serif;

}

.wraper{
    max-inline-size: 1440px;
    margin-inline: auto;
}


header{
    display: flex;
    justify-content: space-between;
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
}