body{
    font-family: "Inter", sans-serif;
    margin: 0;

}

.wraper{
    max-inline-size: 1440px;
    margin-inline: auto;
}


header{
    display: flex;
    justify-content: space-between;
    margin-block: 0px;
    padding: 16px 25px;
    background-color: rgb(50, 49, 55);
    max-block-size: 68px;
    color: #fafafa;
    align-items: center;
}

.menu-toggle{
    display: none;
}

.hamburger{
        display: none;
}



 @media (max-width: 768px) {
    .hamburger {
        display: flex;
        gap: 5px;
        flex-direction: column;
    }
    .nav-menu{
    display: none;
    }

   .menu-toggle:checked ~ nav {
        display: flex; 
        position: fixed;
        align-items: start;
        font-size: 2rem;
        width: 70%;
        height: 30vh;
        background-color: rgb(50, 49, 55,97%); 
        flex-direction: column;
        padding: 40px;
        z-index: 100;
        border-radius: 10px;
        top: 0;
    }

    .menu-toggle:checked ~ nav ul {
    display: flex;
    flex-direction: column; 
    gap: 20px;              
    padding-top: 40px;  
  
    }  
    
    .menu-overlay {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: 99; 
    }

    .menu-toggle:checked ~ .menu-overlay {
    display: block;
    background: rgba(0,0,0,0.5);
    }

    header{
        position: fixed;
        width: 100%;
        box-sizing: border-box
    }


    h1{
        padding-top: 39px;
    }

}

.hamburger span{
    display: block;
    width: 30px;
    height: 5px;
    background-color: #fafafa;
    border-radius: 2px;
}


header p{
    margin: 0;
    font-weight: bold;
    font-size: 1.6rem;
}

header nav{
    display: flex;
    place-items: center;
 
}

header a{
    text-decoration: none;
    color: #fafafa;
    transition: all 0.15s ease-in-out 0.15s;
}

header a:hover{
    text-decoration: underline;
    color: #cc2129;
    

}

header nav ul{
    list-style: none;
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
    font-weight: medium;
}

.label p {
    margin: 0;
    padding: 0;
}
.label{
   
    background-color: #E5E7EB;
    padding-block: 4px;
    padding-inline: 20px;
    border-radius: 12px;
    width: fit-content;
    margin-inline: auto;
}

.label a{
    color: #4B5563;
    text-decoration: none;
    transition: all 0.15s ease-in-out 0.15s;

}

.label a:hover{
    text-decoration: underline;
    color: #cc2129;
    

}


section{
    padding-inline: 25px;
    padding-block: 36px;
    border-block: #32313711 solid 1px;
}

h1{
    font-weight: bold;
    color: #323137;
}

main p{
    color: #61596b;
}

.hello ul{
    list-style: none;
    
}
.hello li{
    display: flex;
    align-items: center;
}

.hello li::before{
    content: "";
    width: 24px;
    height: 24px;
    margin-inline-end: 15px;
    background-image: url('location-icon.svg');
    display: inline-block;



}

section ul{
    color: #61596b;
}
