body{
    font-family: 'inter', sans-serif;

}

.wraper{
    max-inline-size: 1440px;
    margin-inline: auto;
}


header{
    display: flex;
}

header nav ul{
    list-style: none;
    display: flex;
}