


.wrapper{
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.card{
    background-color: brown;
    padding: 24px;
    max-inline-size: 360px;
    border-radius: 20px;
    border: #111 1px solid;
    margin-inline: auto;
    align-items: center;

}

img{
    display: block;
    inline-size: 100%;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
    font-size: 1.6rem;
}


.author{
    display: flex;
    gap: 12px;
    align-items: center;
}

.author img{
    block-size: 32px;
    inline-size: 32px;

}

.author h2{
    margin: 0;
}